.tbl-head{
    background-color: #0B3157;
    font-size: 11px;
    color: white;
    height: 20px;
    text-align: center;
    width: 100%;
}
.tbl-head th{
    width: 90px;
    padding-bottom: 4px;
}
table{
    border:none;
    position: relative;
    border-spacing: 0;
    width: 100%; 
}

.calendar-day{
    padding: 10px 0;
    cursor: pointer;
}
.selected-day{
    padding: 10px 0;
    color: white;
    background-color:#0B3157;
    cursor: pointer;
}