.tbl-head{
    background-color: #0B3157;
    font-size: 11px;
    color: white;
    height: 20px;
    text-align: center;
    width: 100%;
}
.tbl-head th{
    padding-bottom: 4px;
    margin:0 6px;
    opacity: 0.5;
}
table{
    border:none;
    position: relative;
    border-spacing: 0;
    width: 100%; 
}

