.dot img{
    width: 5px;
    height: 5px;
    margin-bottom: 9px;
}
.dot{
position: relative;
margin:0 auto;
width: 5px;
height: 5px;


}
.calendar-day{
    padding: 10px 0;
    cursor: pointer;
}
.selected-day{
    position: relative;
    padding: 10px 0;
    color: white;
    background-color:#0B3157;
    cursor: pointer;
}
.line{
    width:15px;
    border-color: #45B4B7;
    margin:0 auto;
}