.next-month{
    color: #48C1C2;
    display: inline-block;
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin:15px;

}
.prev-month{
    color: #48C1C2;
    display: inline-block;
    position: absolute;
    left: 0;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    margin:15px;
}