.item{
    background-color:#45B4B7;
    border-radius:2px;
    color: white;
    position: relative;
    display: flow-root;
    margin: 10px 0;

}
.name{
    font-size: 14px;
    opacity:0.5;
    font-weight:500; 
    text-align: left;
    letter-spacing: -0.3px;
    margin-left:15px;
    margin-bottom: 5px;
}
.body{
    font-weight: 700;
    letter-spacing: -0.3px;
    font-size:16px;
    margin-left: 15px;
    text-align: left;
    margin-top:5px;
}
.time{
    display: inline-block;
    margin: 10px 15px 0 0;
    font-size: 14px;
    opacity:0.5;
    font-weight:500; 
    position: absolute;
    right: 0px;
    top:0px;
    
}