.drop-menu{
    background-color: #0B3157;
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius:0 0 15px 15px;
    z-index:99; 
}
.hide{
    display: none;
}
.calendar-mode{
  border: 1px solid #E8E9EB;
  border-radius: 30px;
  display: inline-block;
  margin:10px;
  width: 103px;
  cursor: pointer;
}
.calendar-mode p{
  color: #E8E9EB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  
}
.wrapper{
    margin:0 auto;
    width: 630px;
    height: auto;
    position: relative;
}