.drop-menu{
    background-color: #0B3157;
    position:absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index:99; 
}
.hide{
    display: none;
}
.calendar-mode{
  border: 1px solid rgba(232, 233, 235,0.25);
  border-radius: 30px;
  display: inline-block;
  margin:5px;
  width: 103px;
  height: 30px;
  cursor: pointer;
}
.calendar-mode p{
  color: #E8E9EB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  margin-top:7px;
  opacity: 0.5;
}
.wrapper{
    position: relative;
}